h1{
    font-size:14px;
    font-weight: normal;
    margin-left:10px;
}

a{
    text-decoration: none;
}

.status{
    color:#5cb85c;
}

.txHash{
    font-size: 14px;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    75%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    75%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    75%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    75%  { opacity:0; }
    100% { opacity:1; }
  }
  .animate-flicker {
     -webkit-animation: flickerAnimation 2s infinite;
     -moz-animation: flickerAnimation 2s infinite;
     -o-animation: flickerAnimation 2s infinite;
      animation: flickerAnimation 2s infinite;
  }

